@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@font-face {
  font-family: "GramatikaTrial";
  src: url(../assets/fonts/GramatikaTrial/GramatikaTrial-Regular-BF65dea4c5a77e9.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "GramatikaTrial";
}
