// colors

$primaryBgColor: #ffffff;
$secondaryBgColor: #00e15b;
$tertiaryBgColor: #ebeaeb;

$primaryColor: #ffffff;
$secondaryColor: #00e15b;
$tertiaryColor: #c40d10;
$quaternaryColor: black;

// fonts
$primaryFont: 'Oswald';
$secondaryFont: 'GramatikaTrial';
