<div class="app">
    <div class="app__header">
        <app-header></app-header>
    </div>
    <div class="app__content">
        <div class="app__cards">
            <app-cards />
        </div>
        <div class="wrapper">
            <div class="wrapper__form">
                <app-form [status]="status" (changeStatus)="setStatus($event)" (addItem)="handleAddItem($event)"
                    [editItem]="editItem" (editItemEmitter)="handleEditItem($event)" />
            </div>
            <div class="wrapper__content">
                <app-table [status]="status" (changeStatus)="setStatus($event)" (deleteItem)="handleDeleteItem($event)"
                    (editItem)="updateEditItem($event)" />
            </div>
        </div>
    </div>
</div>