<div class="wrapper">
    <div class="wrapper__form">
        <div class="wrapper__section">
            <label for="description" class="wrapper__label">Descrição</label>
            <input type="text" autocomplete="off" id="description" class="wrapper__input-text"
                [(ngModel)]="description">
        </div>
        <div class="wrapper__section">
            <label for="value" class="wrapper__label">Valor</label>
            <input type="number" autocomplete="off" id="value" class="wrapper__input-text" [(ngModel)]="value">
        </div>
        <div class="wrapper__section">
            <div class="wrapper__radio-section">
                <div class="wrapper__radio-wrapper">
                    <input type="radio" id="gain" name="input-type"
                        class="cf-c-input-radio cf-c-input-radio--cursor--pointer" color="green" [checked]="!expense"
                        (change)="radioChecked()" />
                    <label for="gain" class="wrapper__label">Entrada</label>
                </div>
                <div class="wrapper__radio-wrapper">
                    <input type="radio" id="spent" name="input-type"
                        class="cf-c-input-radio cf-c-input-radio--cursor--pointer" color="red" [checked]="expense"
                        (change)="radioChecked()" />
                    <label for="spent" class="wrapper__label">Saida</label>
                </div>
            </div>
        </div>
        <div class="wrapper__section">
            <ng-container *ngIf="status === 'add'; then addTemplate; else editTemplate"></ng-container>
            <ng-template #editTemplate>
                <div>
                    <button class="wrapper__button wrapper__button--back--edit"
                        (click)="handleEditItem()">Editar</button>
                    <button class="wrapper__button wrapper__button--back--cancel" (click)="setStatus('add')"><mat-icon
                            class="wrapper__icon">cancel</mat-icon></button>
                </div>
            </ng-template>
            <ng-template #addTemplate>
                <button class="wrapper__button" (click)="handleAddItem()">Adicionar</button>
            </ng-template>
        </div>
    </div>
</div>