@import "variables";

.wrapper {
  margin-top: 20px;
  border-radius: 20px;
  padding: 25px;
  background-color: $primaryColor;

  &__table {
    width: 100%;
  }
}

.table-line {
  &__header {
    font-size: 22px;
    text-align: start;
  }

  &__item {
    font-size: 20px;
  }

  &__icon {
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      opacity: 0.7;
    }
  }
}
